# SignNow.NET gitignore
#
# OS and IDE specific ignoring files shold be configured
# into ~/.global_gitignore
# @see: https://help.github.com/en/articles/ignoring-files#create-a-global-gitignore
#
/.vs/SignNow.Net
/SignNow.Net/bin/Debug
/SignNow.Net/obj
/SignNow.Net.Test/obj
/SignNow.Net.Test/bin/Debug/netcoreapp2.2
/SignNow.Net.Framework4.5.Test/bin/Debug
/SignNow.Net.Framework4.5.Test/obj/Debug
